* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 728px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .App {
    min-height: 500px;
    padding: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .App {
    min-height: 600px;
    padding: 40px;
  }
}

@media (min-width: 1201px) {
  .App {
    min-height: 728px;
    padding: 60px;
  }
}
