/* Reset default margins and paddings, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default styles for the .App container */
.App {
  width: 100%;
  min-height: 728px;
  background-color: black;
}

/* Styles for small screens (max-width: 600px) */
@media (max-width: 600px) {
  .App {
    min-height: 500px;
  }
}

/* Styles for medium screens (min-width: 601px and max-width: 1200px) */
@media (min-width: 601px) and (max-width: 1200px) {
  .App {
    min-height: 600px;
  }
}

/* Styles for large screens (min-width: 1201px) */
@media (min-width: 1201px) {
  .App {
    min-height: 728px;
  }
}
